/**--------------------*/
/**       RESET        */
/**--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  line-height: 1.5;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**--------------------*/
/**    CUSTOM PROPS    */
/**--------------------*/
:root {
  /* COLOURS */
  /* primary */
  --clr-bright-orange: 31, 77%, 52%;
  --clr-dark-cyan: 184, 100%, 22%;
  --clr-very-dark-cyan: 179, 100%, 13%;

  /* paragraphs */
  --clr-transparent-white: 0, 0%, 100%, 0.75;
  /* background, headings, buttons */
  --clr-very-light-gray: 0, 0%, 95%;

  /* FONT FAMILY */
  --ff-lexend-deca: 'Lexend Deca', sans-serif;
  --ff-big-shoulders-display: 'Big Shoulders Display', cursive;

  /* FONT SIZE */
  --fs-default: 15px;

  /* FONT WEIGHT */
  --fw-regular: 400;
  --fw-bold: 700;

  /* BREAKPOINTS */
  --bp-mobile: 23.4375em;
  --bp-tablet: 48em;
  --bp-desktop: 90em;
}

/**--------------------*/
/**     UTILITIES      */
/**--------------------*/

/**--------------------*/
/**      GENERAL       */
/**--------------------*/
body {
  background-color: hsl(var(--clr-very-light-gray));
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
}

@media only screen and (max-width: 768px) {
  .main {
    height: auto;
    margin: 2rem 0;
    width: auto;
  }
}

/* CARDS */
.card {
  display: grid;
  grid-template-columns: 1.875rem 11.25rem 3.75rem;
  grid-template-rows: 6.25rem 4.375rem 9.375rem 8.125rem;
}

.card__icon {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center;
}

.card__header {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  color: hsl(var(--clr-very-light-gray));
  font-family: var(--ff-big-shoulders-display);
  font-size: 2.5rem;
  font-weight: var(--fw-bold);
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.card__text {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  color: hsl(var(--clr-transparent-white));
  font-size: var(--fs-default);
}

/* BUTTON LINKS */
.btn:link,
.btn:visited {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  align-self: center;
  justify-self: start;

  background-color: hsl(var(--clr-very-light-gray));
  border-radius: 50px;
  display: inline-block;
  padding: 0.5rem 2rem;
  text-decoration: none;
}

.btn:hover,
.btn:active {
  border: 1px solid hsl(var(--clr-very-light-gray));
  color: hsl(var(--clr-very-light-gray));
}

/**--------------------*/
/**    3-COL-CARD      */
/**--------------------*/
.three-col-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 768px) {
  .three-col-card {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

/* CARD 1 */
.card-1 {
  background-color: hsl(var(--clr-bright-orange));
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .card-1 {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }
}

/* button */
.btn--orange {
  color: hsl(var(--clr-bright-orange));
}

.btn--orange:hover,
.btn--orange:active {
  background-color: hsl(var(--clr-bright-orange));
}

/* CARD 2 */
.card-2 {
  background-color: hsl(var(--clr-dark-cyan));
}

.btn--dark-cyan {
  color: hsl(var(--clr-dark-cyan));
}

.btn--dark-cyan:hover,
.btn--dark-cyan:active {
  background-color: hsl(var(--clr-dark-cyan));
}

/* CARD 3 */
.card-3 {
  background-color: hsl(var(--clr-very-dark-cyan));
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .card-3 {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
}

.btn--very-dark-cyan {
  color: hsl(var(--clr-very-dark-cyan));
}

.btn--very-dark-cyan:hover,
.btn--very-dark-cyan:active {
  background-color: hsl(var(--clr-very-dark-cyan));
}
